<!-- <div class="group">
    <label for="user" class="label">Username</label>
    <input id="user" type="text" class="input" [(ngModel)]="request.email">
</div>
<div class="group">
    <label for="pass" class="label">Password</label>
    <input id="pass" type="password" class="input" [(ngModel)]="request.password">
</div>
<div class="group">
    <input id="check" type="checkbox" class="check" checked>
    <label for="check"><span class="icon"></span> Keep me Signed in</label>
</div>
<div class="group">
    <button type="button" class="button" (click)="authenticate()">Sign In</button>
</div> -->

<div class="container">
    <img src="assets/sagemcom.jpg" alt="Logo de la société" class="logo">
    <div class="form-container">
        <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="input" [(ngModel)]="request.email">
        </div>
        <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" [(ngModel)]="request.password">
        </div>
        <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
        </div>
        <div class="group">
            <button type="button" class="button" (click)="authenticate()">Sign In</button>
        </div>
    </div>
</div>